body{
    background-color: grey;
}
.blink {
    animation: blinker 1.0s linear infinite;
    font-weight: bold;
    transition: 0.8s;
    scroll-behavior: slide;
}



#style-header{
    position: sticky;
    top:0px;
    box-shadow: 4px 4px 4px orange;
    border: 1px dotted white;
    background-color: black;
    color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    
}
h2{
    text-align: center;
    align-items: center;
    text-shadow: 7px 7px 5px white;
    padding-bottom: 10px;
    display: flex;
    margin: auto;
}
#style-h{
    text-align: center;
    box-shadow: 0 0 7px 5px  orange;
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: grey;
    align-items: center;
  
    margin-left: 25px;
    margin-top: 50px;
    width: 95%;
    justify-content:center;

}
.flex-container>div{
    height: 550px;
}


.flex-container > #style-banner{
    position: relative;
    height: 550px;
    width: 100%;
    background-image: url('https://wallpapers.com/images/featured/amazon-npcp6jc782ixp9zs.jpg');
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: grey;
    box-shadow: 0 0 8px 10px black;
    
}


 #para{
  display: flex;
  flex-direction: column;
    margin-left: 900px;
    margin-top: 155px;
    padding: 10px;
    overflow: hidden;
    position: absolute bottom;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    width: 23%;
    box-shadow: 4px 3px 4px black;
    height: 350px;
}
 .about0{
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: yellow;
    padding-top: 5px;
    margin-top: 30px;
    width: 80%;
 }
 .style-a{
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: yellow;
    width: 80%;
 }
 
.container{
    margin: auto;
    display: flex;
    flex-direction: row;
  
    background-color: yellow;
    width: 80%;
    
    
}

.container>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 50px;
}
 * {
    box-sizing: border-box;
 }
 .legend1{
    border: 3px solid black;
    box-shadow: 0 0 3px 3px teal;

 }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 65%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 15px;
    box-shadow: 2px 2px 3px black;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
#footer2{
    margin-top:20px;
}
  #footer2>div{
    display: flex;
    margin: auto;
    
    height: 40px;
    width:100%;
    background-color: black;
    color: white;
    font-weight: bolder;
    justify-content: center;
  }
  
